*{
	box-sizing: border-box;
	margin: 0;
}

body {
  padding: 0;
  height: 100vh;
  cursor: none;
  background-color: #3d3b3b;
  color: white;
  overflow: hidden;
}

header {  
  display: none;
  justify-content: space-around;
  flex-wrap: nowrap; /*in 1 line only*/
  color: rgb(184, 238, 184);
  text-align: center;
  font-size: 40px;
  font-family: Garamond, serif;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  user-select: none; /*******************************************/
  -moz-user-select: none; /*******************************************/
  -webkit-user-select: none;/*******************************************/
  -ms-user-select: none;/*******************************************/
}

header div {
  flex: 1;
}

header div span {
  font-size: 32px;
  position: relative;
  top: 1px;
}

header #bonusArrow {
  background: url("../images/arrow.svg") no-repeat center; 
  background-size: 60px Auto;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
}

header #bonusArrow p {
  position: relative;
  top: 100%;
  font-size: 22px;
  color: #58dcf7;
}

@keyframes timerGrows {
  0% {transform: scale(1, 1)}
  50% {transform: scale(1.5, 1.5)}
  100% {transform: scale(1, 1)}
}

@keyframes timerGrowsAgain {
  0% {transform: scale(1, 1)}
  50% {transform: scale(1.5, 1.5)}
  100% {transform: scale(1, 1)}
}

@keyframes arrowGrows {
  0% {transform: scale(1, 1)}
  50% {transform: scale(1.25, 1.25)}
  100% {transform: scale(1, 1)}
}

.cursor {
  width: 48px;
  height: 48px;
  position: absolute;
  background: url("../images/syringe.svg");
  -webkit-transform: rotateZ(100deg);
          transform: rotateZ(100deg);
  position: absolute;
  pointer-events: none; /*This will make the syringe transparent to clicks. 
    It will make the real cursor to click what's under the syringe*/
  z-index: 100;
}

#instructions {
  display: block;
	background: linear-gradient(rgb(243, 243, 145) 30%, rgb(247, 247, 197));
  color: black;
  background: -webkit-linear-gradient(rgb(243, 243, 145) 30%, rgb(247, 247, 197));
	background: -webkit-gradient(linear, top, bottom, color-stop(30%, rgb(243, 243, 145)), color-stop(100%, rgb(247, 247, 197)));
	background: -moz-linear-gradient(rgb(243, 243, 145) 30%, rgb(247, 247, 197));
	background: -o-linear-gradient(rgb(243, 243, 145) 30%, rgb(247, 247, 197));
	background: -ms-linear-gradient(rgb(243, 243, 145) 30%, rgb(247, 247, 197));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(243, 243, 145)', endColorstr='rgb(247, 247, 197)',GradientType=0 );
  width: 50%;
  padding: 10px;
  border: 7px solid rgb(184, 184, 169);
  text-align: center;
  font-size: 40px;
  font-family: Garamond, serif;
  font-weight: bold;
  position: absolute;
  right: 0;
  left: 0;
  top: 22%;
  margin-right: auto;
  margin-left: auto;
  z-index: 10;
}

@keyframes instructionsAppears {
  0% {opacity: 0}
  100% {opacity: 1}
}

#instructions p {
  user-select: none; /*******************************************/
  -moz-user-select: none; /*******************************************/
  -webkit-user-select: none;/*******************************************/
  -ms-user-select: none;/*******************************************/
}

form {
  margin-top: 20px;
}

form label {
  font-weight: lighter;
  font-size: 32px;
  position: relative;
  top: 3px;
}
 
.corona {
  display: none;
  user-select: none; /*******************************************/
  -moz-user-select: none; /*******************************************/
  -webkit-user-select: none;/*******************************************/
  -ms-user-select: none;/*******************************************/
}

#circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: rgb(243, 243, 145);
  position: absolute;
  right: 0;
  left: 0;
  top: 30%;
  bottom: 70%;
  margin: auto;
  z-index: 1;
}

.axis{
  height: 184px;
  width: 10px;
  background: rgb(243, 243, 145);
  position: absolute;
  right: 0;
  left: 0;
  top: 30%;
  bottom: 70%;
  margin: auto;
}

.tinyCircleContainer {
  height:220px;
  width:22px;
  background: rgb(153, 116, 240, 0);
  position: relative;
  display: inline-block;
  z-index: 2;
}

.tinyCircle {
  height:24px;
  width:24px;
  border-radius: 50%;
  background: rgb(245, 194, 100);
  position: absolute;
  transition: background 2.5s ease;
  -webkit-transition: background 2.5s ease;
  -moz-transition: background 2.5s ease;
  -o-transition: background 2.5s ease;
  -ms-transition: background 2.5s ease;
}

.eyes {
  height: 40px;
  width: 80px;
  position: absolute;
  background: url("../images/eyes.svg");
  top: 76px;
  right: -27px;
  z-index: 3;
}

@keyframes turnEyes {
  0% {transform: rotateZ(180deg); opacity: 1}
  48% {transform: rotateZ(180deg); opacity: 1}
  49% {transform: rotateZ(180deg); opacity: 0}
  50% {transform: rotateZ(0deg); opacity: 0}
  51% {transform: rotateZ(0deg); opacity: 1}
  98% {transform: rotateZ(0deg); opacity: 1}
  99% {transform: rotateZ(0deg); opacity: 0}
  100% {transform: rotateZ(180deg); opacity: 0}
}

.eyeShades {
  z-index: 4;
  height: 20px;
  width: 76px;
  background: rgb(243, 243, 145);
  position: absolute;
  z-index: 4;
  right: -25px;
}

#topEyeshade {
  top: 58px;
  animation: none; /*shutTopEyeshade 3s ease infinite normal;*/
}

#bottomEyeshade{
  top: 116px;
  animation: none; /*shutBottomEyeshade 3s ease infinite normal;*/
}

@keyframes shutTopEyeshade {
  0% {top: 58px}
  11% {top: 77px}
  15% {top: 77px}
  22% {top: 58px}
  100% {top: 58px}
}

@keyframes shutBottomEyeshade {
  0% {top: 116px}
  11% {top: 96px}
  15% {top: 96px}
  22% {top: 116px}
  100% {top: 116px}
}

.figures {
  width: 56px;
  height: 56px;
  position: absolute;
  z-index: 5;
}

@keyframes fireworks {
  0% {width: 4px; height: 4px; opacity: 1;}
  80% {width: 64px; height: 64px; opacity: 0.8;}
  99% {width: 64px; height: 64px; opacity: 0;}
  100% {width: 0px; height: 0px; opacity: 0;}
}

@keyframes figureBecomesMini {
  0% {width: 56px; height: 56px; opacity: 1}
  30% {width: 34px; height: 34px; opacity: 1}
  100% {width: 0px; height: 0px; opacity: 0}
}

.ambulance {
  width: 80px;
  height: 80px;
  z-index: 5;
  background: url("../images/ambulance1.svg");
}

@keyframes disappears {
  0% {opacity: 1}
  100% {opacity: 0}
}


footer {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  display: none;
}


/*# sourceMappingURL=cursor.css.map */